# Nuxt
.nuxt/
.output/
.data/
.nitro/
.cache/
dist/

# Node
node_modules/
*.log

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.*
!.env.example

# Build
*.exe
*.dll
*.so
*.dylib

# Test
coverage/

# Misc
*.local
